/*Import*/
@font-face {
	font-family: 'display';
	src: url('./fonts/fallout_display.ttf') format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'decayed';
	src: url('./fonts/fallout_decayed.ttf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

/*Variables*/
:root {
	--fDisplay: 'display';
	--fDecayed: 'decayed';
	--cBrownText: #907824;
	--cBrownBack: #302820;
	--cGreenActive: #3cf800;
	--cGreenInactive: #183018;
}

/*Main*/
html, body {
	background: black;
	font-family: var(--fDisplay);
	color: var(--cGreenActive);
	font-size: 16px;
}
#root {
	max-width: 1200px;
	margin: auto;
}
header {
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 2px solid var(--cBrownText);
	font-family: var(--fDecayed);
}
h1 {
	font-size: 4rem;
	text-transform: uppercase;
}
button {
	font-family: var(--fDecayed);
	text-transform: uppercase;
	font-size: 2rem;
	color: var(--cBrownText);
	background: var(--cBrownBack);
	border: 2px solid var(--cBrownText);
	border-radius: 5px;
	padding: 10px;
}

/*Modules*/
/*Language*/
.m-language {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}
.m-language > button {
	margin: auto;
}
.m-language > button:nth-child(1) {
	grid-column: 2/3;
}
.m-language > button:nth-child(2) {
	grid-column: 3/4;
}